<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taguirregabiria2016.loc44">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".accueuil.MainActivity"
            android:label="Accueuil">
        </activity>

        <activity android:name=".Login.LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gererParking.GererParkingActivity" android:theme="@style/LoginTheme"
            android:label="Gerer le parking" />
        <activity
            android:name=".search.searchActivity"
            android:label="Chercher un véhicule" />
        <activity
            android:name=".chiffreAffaire.caActivity"
            android:theme="@style/caTheme"
            android:label="Chiffre d&apos;affaire" />
        <activity
            android:name=".location.louerActivity"
            android:label="Véhicules en cours de location" />
        <activity
            android:name=".location.alouerActivity"
            android:label="Véhicules prêts à être loué" />
        <activity android:name=".ui.ClientFormActivity" />
        <activity android:name=".ui.ClientListActivity" />
        <activity android:name=".ui.VehiculeFormActivity" />
        <activity android:name=".ui.VehiculeListActivity" />
        <activity android:name=".location.ClientFormActivity" android:theme="@style/LocationTheme"/>
        <activity android:name=".location.LocationFormActivity" android:theme="@style/LocationTheme"/>
        <activity android:name=".location.LocationListActivity" android:theme="@style/LocationTheme"/>
    </application>

</manifest>